<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Biotech Pulse</title>
  <meta name="keywords" content="biotech, harlem biospace, life science">
  <meta name="description" content="Realtime sharing and discussion of articles, events, and resources of interest to biotech entrepreneurs and investors.">

  <link rel="alternate" type="application/rss+xml" href="/feed" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">

  <link rel="alternate" type="application/rss+xml" href="/feed" />
</head>
<body>
  <h1>Biotech Pulse</h1>

  <% @posts.each do |post| %>
    <h2><a href="/posts/<%= post.slug %>"><%= post.title %></a></h2>
  <% end %>
</body>
</html>